body {
    margin:0px;
    width:100%;
    padding:px;
    font-size: small;

}
#header{
    background-color: rgb(71, 71, 211);
    width: 100%;
    height: 50px;
  
}
.col{
    background-color: rgb(71, 71, 211);
}
.f{
    position: absolute;
    margin-left: 80px;
    margin-top: 10px;
    float: left;
 
}
.t{
    position: absolute;
    margin-left:125px;
    margin-top: 10px;
    float: left;
}
.i{
    position: absolute;
    margin-left: 175px;
    margin-top: 10px;
   float: left;
}
.y{
    position: absolute;
    margin-left: 215px;
    margin-top: 7px;
    float: left;
   
}
.w{
    position: absolute;
    margin-left: 280px;
    margin-top: 10px; 
    float: left;
}
.riz{
    position: absolute;
    color: white; 
    text-align: center;
    padding-top:13px;
    width: 100%;
    font-size:10pt;
}
.aym{
   float:right; 
   padding-top: 10px;
   margin-right: 30px;
}
.coll{
    background-color:rgb(253, 247, 247);
}
#topnav{
    background-color:rgb(253, 247, 247);
    width: 100%;
    height: 70px;
    font-size: small;
}
.logo{
    margin-left:100px;
    margin-top: 0px;
    float: left;
    width: 30%;
}
.nav{
    color: black;
    float: right;
    text-decoration: none;
    padding: 30px;
    margin-top: -17px;
    margin-left:-10px ;
    
}
.home{
    background: rgb(60, 60, 197);
    color: white;
    border-radius: 40%;
    border: 1px;
    text-decoration: none;
    padding: 10px;
    padding-left: -35px;
    padding-right: -35px;
}

.about{
    color: black;
    margin-left: 20px;
    padding: 10px;
}
.about:hover{
    background: rgb(60, 60, 197);
    color: white;
    border-radius: 40%;
    border: 1px;
   
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


